<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lstas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngFor="let e of elenco">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{e.caminho}}" />
      </ion-avatar>
      <ion-label slot="start">{{e.nome}}</ion-label>
      <ion-badge color="warning" slot="end">{{e.curtidas}}</ion-badge>
    </ion-item>

  </ion-list>
  <br><br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Meliodas</ion-card-title>
      <ion-card-subtitle>Full counter</ion-card-subtitle>
    </ion-card-header>
    <ion-img src="{{caminho}}"></ion-img>

  </ion-card>


</ion-content>